.header {
  position: fixed;
  top: 0;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  height: $headerHeight;
  font-size: 15px;
  background-color: $primaryColor;
  opacity: 0.9;
  z-index: 1000;

  .container {
    height: 100%;
    justify-content: space-between;
    align-items: center;
    padding: 0 $freeSpace 0 $freeSpace;

    .logo {
      color: $whiteColor;
      text-decoration: none;

      h3 {
        margin: 0px;
      }
    }

    .menu {
      display: flex;
      list-style: none;
      height: 100%;
      align-items: center;

      li {
        a {
          text-decoration: none;
          color: red;
        }
      }
    }
  }
}
