<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Main</title>
  </head>
  <body>
    <h1>Hi <%= name %></h1>
    <a href="/create">add to arr</a>
    <ul>
      <% arr.forEach(function(item){ %>
      <li>
        <%= item %>
      </li>
      <% }); %>
    </ul>
  </body>
</html>
