html
  head
    link(rel = 'stylesheet' href = 'css/style.css')
    title main page
  body
    div.header
      div.container
        div.header-logo
          a.logo(href = '/') 
            h3 Blog
        div.header-menu
          ul.menu
            li
              a(href = 'ind.html') index
    div.main
      div.container
        div.content
          div.article
            div.arcticle-title
              h3 The name of article
            div.article-content
              p different words that describes my opinion
        div.sidebar
          div.auth
            form(method = 'POST' action = '/auth')
              label(for = 'login') login 
              br
              input(type = 'text' id = 'login')
              br
              label(for = 'pass') password 
              br
              input(type = 'text' id = 'pass')
              div.box
                button(type = 'submit') Log in
                button(type = 'submit') Sign up
    div.footer
      div.container
        h3 Sergey Frolenko &copy;2020
