html
  head
    link(rel = 'stylesheet' href = 'css/style.css')
    title main page
  body
    div.header
      div.container
        div.logo
          a(href = '/') Blog
        div.menu
          ul
            li
              a(href = 'ind.html') index
    div.wrapper
      div.container
        div.content
        div.sidebar
    div.footer
      div.container
        h3 Sergey Frolenko &copy;2020
