          <div class="auth auth-login">
            <form method="POST" action="/auth">
              <label for="login">login </label><br /><input
                type="text"
                id="login"
              /><br /><label for="pass">password </label><br /><input
                type="text"
                id="pass"
              />
              <div class="box">
                <button type="submit">Log in</button
                ><button type="submit" class="switch-button">Sign up</button>
              </div>
            </form>
          </div>
          <div class="auth auth-signin">
            <form method="POST" action="/auth">
              <label for="signin-login">sign in </label><br /><input
                type="text"
                id="signin-login"
              /><br />
              <label for="signin-pass">password </label><br />
              <input
               type="text"
                id="signin-pass"
              /><br />
              <label for="signin-pass-check">password once again </label><br />
              <input
               type="text"
                id="signin-pass-check"
              />
              <div class="box">
                <button type="submit" class="switch-button">Log in</button
                ><button type="submit">Sign up</button>
              </div>
            </form>
          </div>
