<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link rel="stylesheet" href="<%= assetFingerprint('/stylesheets/style.css') %>" />
  <title>main page</title>
</head>

<body>
  <div class="header">
    <div class="container">
      <div class="header-logo">
        <a class="logo" href="/">
          <h3>Blog SF</h3>
        </a>
      </div>
      <div class="header-menu">
        <ul class="menu">
          <li><a href="/"> index</a> /</li>
          <li>/ <a href="/post/add">post add</a></li>
        </ul>
      </div>
    </div>
  </div>

  <body>
